In [1]:
#Import Dependencies
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv
from datetime import datetime as dt
import datetime

In [2]:
#Read in Data from CSV
hurricane_csv = "Data/hurricane_info.csv"
hurricane_data = pd.read_csv(hurricane_csv)
hurricane_data.head()

,Name,Duration,Wind speed,Pressure,Areas affected,Deaths,Damage,REf,Category
0,Cuba,19-Oct-24,165msngmph (270 km/h),910 hPa (26.87 inHg),"Central America, Mexico, Cuba, Florida, The Ba...",90,NaN,[12][13],5
1,San Felipe,"September 13-14, 1928",160 mph (260 km/h),929 hPa (27.43 inHg),"Lesser Antilles, The Bahamas,United States Eas...",4000,$100 million,[14],5
2,Bahamas,"September 5-6, 1932",160 mph (260 km/h),921 hPa (27.20 inHg),"The Bahamas, Northeastern United States",16,NaN,[15],5
3,Camaguey,"November 5-8, 1932",175 mph (280 km/h),915 hPa (27.02 inHg),"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",3103,$40 million,[16],5
4,Brownsville,30-Aug-33,160 mph (260 km/h),930 hPa (27.46 inHg),"The Bahamas, Cuba, Florida, Texas, Tamaulipas",179,$$27.9 million,[17],5

In [3]:
#Delete ref column
hurricane_data.pop('REf')

#Filter out unwanted rows/names (nondescrptive hurricane names such as "four", not specific enough/ not usable)
hurricane_data = hurricane_data.loc[(hurricane_data["Name"]!="Unnamed") & (hurricane_data["Name"]!="Four") & (hurricane_data["Name"]!="Five") & (hurricane_data["Name"]!="Two") & (hurricane_data["Name"]!="Eight") & (hurricane_data["Name"]!="Seven") & (hurricane_data["Name"]!="Fifteen") & (hurricane_data["Name"]!="Thirteen") & (hurricane_data["Name"]!="Three") & (hurricane_data["Name"]!="One")& (hurricane_data["Name"]!="Six")& (hurricane_data["Name"]!="Nine") & (hurricane_data["Name"]!="Ten")& (hurricane_data["Name"]!="Eleven") & (hurricane_data["Name"]!="Fourteen")  & (hurricane_data["Name"]!="Item")  & (hurricane_data["Name"]!="How") & (hurricane_data["Name"]!="Twelve") & (hurricane_data["Name"]!="Eighteen")]

In [4]:
#Drop na columns
hurricane_data.dropna(inplace = True)

#year Column
date_test = hurricane_data['Duration'].str.split('-', expand=True)
date_test_year = date_test[1].str.split(',',expand=True)
hurricane_data['Year'] = date_test_year[1]

In [5]:
#Separate month/day columns
#extract start date only
test = hurricane_data['Duration'].str.split('-', expand=True)
hurricane_data['Start Date']  = test[0]

#Separate Columns for month/day
new_date = hurricane_data['Start Date'].str.split(expand=True)
hurricane_data["Month"]= new_date[0]
hurricane_data["Day"]= new_date[1]
hurricane_data

,Name,Duration,Wind speed,Pressure,Areas affected,Deaths,Damage,Category,Year,Start Date,Month,Day
1,San Felipe,"September 13-14, 1928",160 mph (260 km/h),929 hPa (27.43 inHg),"Lesser Antilles, The Bahamas,United States Eas...",4000,$100 million,5,1928,September 13,September,13
3,Camaguey,"November 5-8, 1932",175 mph (280 km/h),915 hPa (27.02 inHg),"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",3103,$40 million,5,1932,November 5,November,5
4,Brownsville,30-Aug-33,160 mph (260 km/h),930 hPa (27.46 inHg),"The Bahamas, Cuba, Florida, Texas, Tamaulipas",179,$$27.9 million,5,None,30,30,None
5,Tampico,21-Sep-33,160 mph (260 km/h),929 hPa (27.43 inHg),"Jamaica, Yucatin Peninsula",184,$5 million,5,None,21,21,None
7,New England,"September 19-20, 1938",160 mph (260 km/h),940 hPa (27.76 inHg),"Eastern United States, Southwestern Quebec",682,$306 million,5,1938,September 19,September,19
...,...,...,...,...,...,...,...,...,...,...,...,...
451,Humberto,"September 12 - 14, 2007",90 mph (150 km/h),985 hPa (29.09 inHg),"Texas, Louisiana, Mississippi, The Carolinas",1,$50 million,1,2007,September 12,September,12
453,Lorenzo,"September 25 - 28, 2007",80 mph (130 km/h),990 hPa (29.23 inHg),Central Mexico,6,$92 million,1,2007,September 25,September,25
454,Noel,"October 28 - November 7, 2007",80 mph (130 km/h),980 hPa (28.94 inHg),"The Caribbean, The Bahamas, Florida, Eastern U...",222,$580 million,1,2007,October 28,October,28
455,Hanna,"August 28 - September 12, 2008",85 mph (140 km/h),977 hPa (28.85 inHg),"Puerto Rico, Turks and Caicos Islands, The Bah...",537,$160 million,1,2008,August 28,August,28
456,Kyle,"September 25 - 30, 2008",85 mph (140 km/h),984 hPa (29.06 inHg),"Puerto Rico, Hispaniola, Bermuda, New England,...",8,$57.1 million,1,2008,September 25,September,25

In [6]:
#Separate Columns for Wind Speed / Pressure values & units
new_wind = hurricane_data['Wind speed'].str.split(expand=True)
hurricane_data['Wind Speed (mph)'] = new_wind[0]
#hurricane_data['Wind Speed'] = new[0]
#hurricane_data['Wind Speed Units'] = new[1]

new_press = hurricane_data['Pressure'].str.split(expand=True)
hurricane_data['Pressure (hPa)'] = new_press[0]
#hurricane_data['Pressure'] = new[0]
#hurricane_data['Pressure Units'] = new[1]

#Drop na columns again now that date is separated
hurricane_data.dropna(inplace = True)

In [7]:
#Filter out unwanted rows/names for Damages Column
hurricane_data = hurricane_data.loc[(hurricane_data["Damage"]!="Extensive") & (hurricane_data["Damage"]!="[11][100][101][102]") & (hurricane_data["Damage"]!="[108][109]") & (hurricane_data["Damage"]!="[131][132][133]")  & (hurricane_data["Damage"]!="Minimal")  & (hurricane_data["Damage"]!="[142]")  & (hurricane_data["Damage"]!="[159][160][161][162][163][164][165][166][167]")  & (hurricane_data["Damage"]!="[144]")  & (hurricane_data["Damage"]!="[174]") & (hurricane_data["Damage"]!="Unknown")  & (hurricane_data["Damage"]!="Heavy") & (hurricane_data["Damage"]!="Minor")  & (hurricane_data["Damage"]!="Moderate") & (hurricane_data["Damage"]!="Millions") & (hurricane_data["Damage"]!="13") & (hurricane_data["Damage"]!="5") & (hurricane_data["Damage"]!="None")]

#Separate Damages Cost
new_cost = hurricane_data['Damage'].str.split(expand=True)
hurricane_data['Value'] = new_cost[0]
hurricane_data['Amount'] =new_cost[1]

cost_test = hurricane_data['Value'].str.split('$',expand=True)
hurricane_data['Damages Cost ($)'] = cost_test[1]
hurricane_data

C:\Users\apfle\AppData\Local\Temp\ipykernel_15724\2165824977.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hurricane_data['Value'] = new_cost[0]
C:\Users\apfle\AppData\Local\Temp\ipykernel_15724\2165824977.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hurricane_data['Amount'] =new_cost[1]
C:\Users\apfle\AppData\Local\Temp\ipykernel_15724\2165824977.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hurricane_data['Damages Cost ($)'] = cost_test[1]

,Name,Duration,Wind speed,Pressure,Areas affected,Deaths,Damage,Category,Year,Start Date,Month,Day,Wind Speed (mph),Pressure (hPa),Value,Amount,Damages Cost ($)
1,San Felipe,"September 13-14, 1928",160 mph (260 km/h),929 hPa (27.43 inHg),"Lesser Antilles, The Bahamas,United States Eas...",4000,$100 million,5,1928,September 13,September,13,160,929,$100,million,100
3,Camaguey,"November 5-8, 1932",175 mph (280 km/h),915 hPa (27.02 inHg),"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",3103,$40 million,5,1932,November 5,November,5,175,915,$40,million,40
7,New England,"September 19-20, 1938",160 mph (260 km/h),940 hPa (27.76 inHg),"Eastern United States, Southwestern Quebec",682,$306 million,5,1938,September 19,September,19,160,940,$306,million,306
9,Janet,"September 27-28, 1955",175 mph (280 km/h),914 hPa (26.99 inHg),"Lesser Antilles, Central America",1023,$65.8 million,5,1955,September 27,September,27,175,914,$65.8,million,65.8
12,Inez,"September 28-29, 1966",165 mph (270 km/h),927 hPa (27.37 inHg),"Greater Antilles, Florida, Mexico",756,$229 million,5,1966,September 28,September,28,165,927,$229,million,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,Humberto,"September 12 - 14, 2007",90 mph (150 km/h),985 hPa (29.09 inHg),"Texas, Louisiana, Mississippi, The Carolinas",1,$50 million,1,2007,September 12,September,12,90,985,$50,million,50
453,Lorenzo,"September 25 - 28, 2007",80 mph (130 km/h),990 hPa (29.23 inHg),Central Mexico,6,$92 million,1,2007,September 25,September,25,80,990,$92,million,92
454,Noel,"October 28 - November 7, 2007",80 mph (130 km/h),980 hPa (28.94 inHg),"The Caribbean, The Bahamas, Florida, Eastern U...",222,$580 million,1,2007,October 28,October,28,80,980,$580,million,580
455,Hanna,"August 28 - September 12, 2008",85 mph (140 km/h),977 hPa (28.85 inHg),"Puerto Rico, Turks and Caicos Islands, The Bah...",537,$160 million,1,2008,August 28,August,28,85,977,$160,million,160
456,Kyle,"September 25 - 30, 2008",85 mph (140 km/h),984 hPa (29.06 inHg),"Puerto Rico, Hispaniola, Bermuda, New England,...",8,$57.1 million,1,2008,September 25,September,25,85,984,$57.1,million,57.1

In [8]:
#Adjust format of df
hurricane_data['Damages Cost ($)'] = hurricane_data['Damages Cost ($)'].str.replace(',', '').astype(float)
hurricane_data.dtypes

C:\Users\apfle\AppData\Local\Temp\ipykernel_15724\27345326.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hurricane_data['Damages Cost ($)'] = hurricane_data['Damages Cost ($)'].str.replace(',', '').astype(float)

Name                 object
Duration             object
Wind speed           object
Pressure             object
Areas affected       object
Deaths               object
Damage               object
Category              int64
Year                 object
Start Date           object
Month                object
Day                  object
Wind Speed (mph)     object
Pressure (hPa)       object
Value                object
Amount               object
Damages Cost ($)    float64
dtype: object

In [9]:
#Loop through damages - millions, billions, or grab thousands (normal format)
def sorting(row):
    if row['Amount'] == 'million':
        var = row['Damages Cost ($)'] * (1000000)
        return var
    elif row['Amount'] == 'billion':
        var = row['Damages Cost ($)'] * (1000000000)
        return var
    elif row['Amount'] == 'thousand':
        var = row['Damages Cost ($)'] * (1000)
        return var
hurricane_data['Damages ($)'] = hurricane_data.apply(lambda row: sorting(row), axis=1)
hurricane_data

C:\Users\apfle\AppData\Local\Temp\ipykernel_15724\2708962464.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hurricane_data['Damages ($)'] = hurricane_data.apply(lambda row: sorting(row), axis=1)

,Name,Duration,Wind speed,Pressure,Areas affected,Deaths,Damage,Category,Year,Start Date,Month,Day,Wind Speed (mph),Pressure (hPa),Value,Amount,Damages Cost ($),Damages ($)
1,San Felipe,"September 13-14, 1928",160 mph (260 km/h),929 hPa (27.43 inHg),"Lesser Antilles, The Bahamas,United States Eas...",4000,$100 million,5,1928,September 13,September,13,160,929,$100,million,100.0,100000000.0
3,Camaguey,"November 5-8, 1932",175 mph (280 km/h),915 hPa (27.02 inHg),"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",3103,$40 million,5,1932,November 5,November,5,175,915,$40,million,40.0,40000000.0
7,New England,"September 19-20, 1938",160 mph (260 km/h),940 hPa (27.76 inHg),"Eastern United States, Southwestern Quebec",682,$306 million,5,1938,September 19,September,19,160,940,$306,million,306.0,306000000.0
9,Janet,"September 27-28, 1955",175 mph (280 km/h),914 hPa (26.99 inHg),"Lesser Antilles, Central America",1023,$65.8 million,5,1955,September 27,September,27,175,914,$65.8,million,65.8,65800000.0
12,Inez,"September 28-29, 1966",165 mph (270 km/h),927 hPa (27.37 inHg),"Greater Antilles, Florida, Mexico",756,$229 million,5,1966,September 28,September,28,165,927,$229,million,229.0,229000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,Humberto,"September 12 - 14, 2007",90 mph (150 km/h),985 hPa (29.09 inHg),"Texas, Louisiana, Mississippi, The Carolinas",1,$50 million,1,2007,September 12,September,12,90,985,$50,million,50.0,50000000.0
453,Lorenzo,"September 25 - 28, 2007",80 mph (130 km/h),990 hPa (29.23 inHg),Central Mexico,6,$92 million,1,2007,September 25,September,25,80,990,$92,million,92.0,92000000.0
454,Noel,"October 28 - November 7, 2007",80 mph (130 km/h),980 hPa (28.94 inHg),"The Caribbean, The Bahamas, Florida, Eastern U...",222,$580 million,1,2007,October 28,October,28,80,980,$580,million,580.0,580000000.0
455,Hanna,"August 28 - September 12, 2008",85 mph (140 km/h),977 hPa (28.85 inHg),"Puerto Rico, Turks and Caicos Islands, The Bah...",537,$160 million,1,2008,August 28,August,28,85,977,$160,million,160.0,160000000.0
456,Kyle,"September 25 - 30, 2008",85 mph (140 km/h),984 hPa (29.06 inHg),"Puerto Rico, Hispaniola, Bermuda, New England,...",8,$57.1 million,1,2008,September 25,September,25,85,984,$57.1,million,57.1,57100000.0

In [10]:
#Analyze Data by different Categories
#sort by damages cost, deaths
damages_df = hurricane_data.sort_values("Damages Cost ($)", ascending=False)
deaths_df = hurricane_data.sort_values("Deaths", ascending=False)

#group by year, hurricane category 
hurricane_category_df = hurricane_data.groupby(["Year", "Category"])

#group by areas affected, damages cost
location_damages_df = hurricane_data.groupby(["Areas affected", "Damages Cost ($)"])

In [11]:
#Remove if death number is unknown
hurricane_data = hurricane_data.loc[(hurricane_data["Deaths"]!="Unknown")]

#Clean Table to Columns Wanted (a lot of extra columns not needed from data cleaning in one df)
hurricane_data_clean = hurricane_data[['Name', 'Areas affected', 'Month', 'Day', 'Year', 'Wind Speed (mph)', 'Pressure (hPa)', 'Damages ($)','Deaths' ]].copy()

#Drop na columns again now that date is separated
hurricane_data_clean.dropna(inplace = True)
hurricane_data_clean

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
1,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000
3,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103
7,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682
9,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023
12,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756
...,...,...,...,...,...,...,...,...,...
451,Humberto,"Texas, Louisiana, Mississippi, The Carolinas",September,12,2007,90,985,50000000.0,1
453,Lorenzo,Central Mexico,September,25,2007,80,990,92000000.0,6
454,Noel,"The Caribbean, The Bahamas, Florida, Eastern U...",October,28,2007,80,980,580000000.0,222
455,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537
456,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8

In [12]:
#Write to csv
hurricane_data_clean.to_csv("Data/hurricane_clean_dataset.csv",index=False)