In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import os
import calendar

In [19]:
df = pd.read_csv('storms_updated2.csv')

In [20]:
df

,name,year,month,day,hour,lat,long,status,category,wind,pressure,tropicalstorm_force_diameter,hurricane_force_diameter
0,AL011852,1852,8,26,6,30.2,-88.6,hurricane,3,100,961,NaN,NaN
1,AL031853,1853,9,3,12,19.7,-56.2,hurricane,4,130,924,NaN,NaN
2,AL031854,1854,9,7,12,28.0,-78.6,hurricane,3,110,938,NaN,NaN
3,AL031854,1854,9,8,18,31.6,-81.1,hurricane,3,100,950,NaN,NaN
4,AL031854,1854,9,8,20,31.7,-81.1,hurricane,3,100,950,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17781,Wanda,2021,11,6,6,37.6,-38.3,tropical storm,0,45,1000,110.0,0.0
17782,Wanda,2021,11,6,12,37.2,-38.4,tropical storm,0,40,1001,100.0,0.0
17783,Wanda,2021,11,6,18,37.1,-38.0,tropical storm,0,35,1002,100.0,0.0
17784,Wanda,2021,11,7,0,37.4,-37.4,tropical storm,0,35,1003,60.0,0.0
17785,Wanda,2021,11,7,6,38.1,-36.4,tropical storm,0,35,1004,60.0,0.0

In [21]:
better_df = pd.read_csv('hurricane_clean_dataset.csv')

In [22]:
better_df

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
0,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000
1,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103
2,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756
...,...,...,...,...,...,...,...,...,...
97,Humberto,"Texas, Louisiana, Mississippi, The Carolinas",September,12,2007,90,985,50000000.0,1
98,Lorenzo,Central Mexico,September,25,2007,80,990,92000000.0,6
99,Noel,"The Caribbean, The Bahamas, Florida, Eastern U...",October,28,2007,80,980,580000000.0,222
100,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537
101,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8

In [23]:
df2 = df[['name', 'month', 'day', 'year', 'lat', 'long', 'category']]

In [24]:
df2

           name  month  day  year   lat  long  category
0      AL011852      8   26  1852  30.2 -88.6         3
1      AL031853      9    3  1853  19.7 -56.2         4
2      AL031854      9    7  1854  28.0 -78.6         3
3      AL031854      9    8  1854  31.6 -81.1         3
4      AL031854      9    8  1854  31.7 -81.1         3
...         ...    ...  ...   ...   ...   ...       ...
17781     Wanda     11    6  2021  37.6 -38.3         0
17782     Wanda     11    6  2021  37.2 -38.4         0
17783     Wanda     11    6  2021  37.1 -38.0         0
17784     Wanda     11    7  2021  37.4 -37.4         0
17785     Wanda     11    7  2021  38.1 -36.4         0

[17786 rows x 7 columns]

In [25]:
df2.dropna()
df2

           name  month  day  year   lat  long  category
0      AL011852      8   26  1852  30.2 -88.6         3
1      AL031853      9    3  1853  19.7 -56.2         4
2      AL031854      9    7  1854  28.0 -78.6         3
3      AL031854      9    8  1854  31.6 -81.1         3
4      AL031854      9    8  1854  31.7 -81.1         3
...         ...    ...  ...   ...   ...   ...       ...
17781     Wanda     11    6  2021  37.6 -38.3         0
17782     Wanda     11    6  2021  37.2 -38.4         0
17783     Wanda     11    6  2021  37.1 -38.0         0
17784     Wanda     11    7  2021  37.4 -37.4         0
17785     Wanda     11    7  2021  38.1 -36.4         0

[17786 rows x 7 columns]

In [26]:
df2 = df2.rename(columns={'name': 'Name', 'month': 'Month', 'day':'Day', 'year':'Year'})
df2

           Name  Month  Day  Year   lat  long  category
0      AL011852      8   26  1852  30.2 -88.6         3
1      AL031853      9    3  1853  19.7 -56.2         4
2      AL031854      9    7  1854  28.0 -78.6         3
3      AL031854      9    8  1854  31.6 -81.1         3
4      AL031854      9    8  1854  31.7 -81.1         3
...         ...    ...  ...   ...   ...   ...       ...
17781     Wanda     11    6  2021  37.6 -38.3         0
17782     Wanda     11    6  2021  37.2 -38.4         0
17783     Wanda     11    6  2021  37.1 -38.0         0
17784     Wanda     11    7  2021  37.4 -37.4         0
17785     Wanda     11    7  2021  38.1 -36.4         0

[17786 rows x 7 columns]

In [15]:
df2.dtypes

Name      object
Month      int64
Day        int64
Year       int64
lat      float64
long     float64
dtype: object

In [16]:
better_df.dtypes

Name                 object
Areas affected       object
Month                object
Day                   int64
Year                  int64
Wind Speed (mph)      int64
Pressure (hPa)       object
Damages ($)         float64
Deaths                int64
dtype: object

In [27]:
df2['Month'] = df2['Month'].apply(lambda x: calendar.month_name[x])

In [28]:
df2

           Name      Month  Day  Year   lat  long  category
0      AL011852     August   26  1852  30.2 -88.6         3
1      AL031853  September    3  1853  19.7 -56.2         4
2      AL031854  September    7  1854  28.0 -78.6         3
3      AL031854  September    8  1854  31.6 -81.1         3
4      AL031854  September    8  1854  31.7 -81.1         3
...         ...        ...  ...   ...   ...   ...       ...
17781     Wanda   November    6  2021  37.6 -38.3         0
17782     Wanda   November    6  2021  37.2 -38.4         0
17783     Wanda   November    6  2021  37.1 -38.0         0
17784     Wanda   November    7  2021  37.4 -37.4         0
17785     Wanda   November    7  2021  38.1 -36.4         0

[17786 rows x 7 columns]

In [29]:
df3 = pd.merge(better_df, df2, how='left', on=['Name','Month','Day','Year'])

In [30]:
df3

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths,lat,long,category
0,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000,NaN,NaN,NaN
1,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103,NaN,NaN,NaN
2,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682,NaN,NaN,NaN
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023,17.3,-83.0,4.0
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756,16.3,-63.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
195,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537,20.5,-59.6,0.0
196,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8,21.5,-70.0,-1.0
197,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8,22.0,-69.4,0.0
198,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8,22.4,-68.7,0.0
199,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8,23.1,-68.4,0.0

In [31]:
df4 = df3.dropna()
df4

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths,lat,long,category
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,6.580000e+07,1023,17.3,-83.0,4.0
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.3,-63.0,3.0
5,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.5,-64.4,4.0
6,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,17.0,-67.2,5.0
7,Camille,"Cuba, United States Gulf Coast",August,16,1969,175,900,1.420000e+09,259,24.3,-86.6,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
195,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,1.600000e+08,537,20.5,-59.6,0.0
196,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,21.5,-70.0,-1.0
197,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,22.0,-69.4,0.0
198,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,22.4,-68.7,0.0
199,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,23.1,-68.4,0.0

In [32]:
df4 = df4.reset_index(drop=True)
df4

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths,lat,long,category
0,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,6.580000e+07,1023,17.3,-83.0,4.0
1,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.3,-63.0,3.0
2,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.5,-64.4,4.0
3,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,17.0,-67.2,5.0
4,Camille,"Cuba, United States Gulf Coast",August,16,1969,175,900,1.420000e+09,259,24.3,-86.6,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
154,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,1.600000e+08,537,20.5,-59.6,0.0
155,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,21.5,-70.0,-1.0
156,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,22.0,-69.4,0.0
157,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,22.4,-68.7,0.0
158,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,23.1,-68.4,0.0

In [24]:
better_df

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
0,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000
1,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103
2,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756
...,...,...,...,...,...,...,...,...,...
97,Humberto,"Texas, Louisiana, Mississippi, The Carolinas",September,12,2007,90,985,50000000.0,1
98,Lorenzo,Central Mexico,September,25,2007,80,990,92000000.0,6
99,Noel,"The Caribbean, The Bahamas, Florida, Eastern U...",October,28,2007,80,980,580000000.0,222
100,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537
101,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8

In [25]:
df4.to_csv('attempted_merge.csv')

In [17]:
df = pd.read_csv('attempted_merge.csv', index_col=[0])

In [18]:
df

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths,lat,long
0,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,6.580000e+07,1023,17.3,-83.0
1,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.3,-63.0
2,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.5,-64.4
3,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,17.0,-67.2
4,Camille,"Cuba, United States Gulf Coast",August,16,1969,175,900,1.420000e+09,259,24.3,-86.6
...,...,...,...,...,...,...,...,...,...,...,...
154,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,1.600000e+08,537,20.5,-59.6
155,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,21.5,-70.0
156,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,22.0,-69.4
157,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,22.4,-68.7
158,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,5.710000e+07,8,23.1,-68.4