In [4]:
#Import Dependencies pgAdmin
import pandas as pd
from Resources import connection

In [ ]:
import numpy as np
from datetime import datetime as dt
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import and_

In [5]:
#Read in Data
hurricane_file = "Data/attempted_merge.csv"
hurricane_df = pd.read_csv(hurricane_file, index_col=[0])
hurricane_df.head()

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths,lat,long,category
0,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,6.580000e+07,1023,17.3,-83.0,4.0
1,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.3,-63.0,3.0
2,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,16.5,-64.4,4.0
3,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,2.290000e+08,756,17.0,-67.2,5.0
4,Camille,"Cuba, United States Gulf Coast",August,16,1969,175,900,1.420000e+09,259,24.3,-86.6,5.0

In [6]:
#Connect to database using AWL
connection_string = connection
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
#Check connection
engine.table_names()

C:\Users\COOPERKK\AppData\Local\Temp\ipykernel_28852\1446501580.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['hurricane_info']

In [9]:
#Insert data to DB
hurricane_df.to_sql(name='hurricane_info', con=engine, if_exists='append', index=False)