In [1]:
import pandas as pd

In [2]:
hurricane_data = pd.read_csv("Data/hurricane_clean_dataset.csv")
hurricane_data

,Name,Areas affected,Month,Day,Year,Wind Speed (mph),Pressure (hPa),Damages ($),Deaths
0,San Felipe,"Lesser Antilles, The Bahamas,United States Eas...",September,13,1928,160,929,100000000.0,4000
1,Camaguey,"Lesser Antilles, Jamaica, Cayman Islands, Cuba...",November,5,1932,175,915,40000000.0,3103
2,New England,"Eastern United States, Southwestern Quebec",September,19,1938,160,940,306000000.0,682
3,Janet,"Lesser Antilles, Central America",September,27,1955,175,914,65800000.0,1023
4,Inez,"Greater Antilles, Florida, Mexico",September,28,1966,165,927,229000000.0,756
...,...,...,...,...,...,...,...,...,...
97,Humberto,"Texas, Louisiana, Mississippi, The Carolinas",September,12,2007,90,985,50000000.0,1
98,Lorenzo,Central Mexico,September,25,2007,80,990,92000000.0,6
99,Noel,"The Caribbean, The Bahamas, Florida, Eastern U...",October,28,2007,80,980,580000000.0,222
100,Hanna,"Puerto Rico, Turks and Caicos Islands, The Bah...",August,28,2008,85,977,160000000.0,537
101,Kyle,"Puerto Rico, Hispaniola, Bermuda, New England,...",September,25,2008,85,984,57100000.0,8

In [4]:
noaa_data = pd.read_csv("Data/NOAA.csv")
noaa_data

                                                                                                                  AL011851  \
18510625  0000     HU  28.0N   94.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          0600     HU  28.0N   95.4W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1200     HU  28.0N   96.0W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1800     HU  28.1N   96.5W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          2100  L  HU  28.2N   96.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
...                                                                                                                    ...
20211107  0000     TS  37.4N   37.4W 35.0  1003.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0         0.0
          0600     TS  38.1N   36.4W 35.0  1004.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0         0.0
          1200     LO  39.2N   34.9W 35.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0         0.0
          1800     LO  40.9N   32.8W 40.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0         0.0
20211108  0000     LO  43.2N   29.7W 40.0  1006.0  30.0   70.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0         0.0

                                                                                                                              UNNAMED  \
18510625  0000     HU  28.0N   94.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          0600     HU  28.0N   95.4W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1200     HU  28.0N   96.0W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1800     HU  28.1N   96.5W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          2100  L  HU  28.2N   96.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
...                                                                                                                               ...
20211107  0000     TS  37.4N   37.4W 35.0  1003.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0                    0.0
          0600     TS  38.1N   36.4W 35.0  1004.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0                    0.0
          1200     LO  39.2N   34.9W 35.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0                    0.0
          1800     LO  40.9N   32.8W 40.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0                    0.0
20211108  0000     LO  43.2N   29.7W 40.0  1006.0  30.0   70.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0                    0.0

                                                                                                                       14  \
18510625  0000     HU  28.0N   94.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          0600     HU  28.0N   95.4W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1200     HU  28.0N   96.0W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1800     HU  28.1N   96.5W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          2100  L  HU  28.2N   96.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
...                                                                                                                   ...
20211107  0000     TS  37.4N   37.4W 35.0  1003.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0        0.0
          0600     TS  38.1N   36.4W 35.0  1004.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0        0.0
          1200     LO  39.2N   34.9W 35.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0        0.0
          1800     LO  40.9N   32.8W 40.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0        0.0
20211108  0000     LO  43.2N   29.7W 40.0  1006.0  30.0   70.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0        0.0

                                                                                                                  Unnamed: 3
18510625  0000     HU  28.0N   94.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0      -999.0
          0600     HU  28.0N   95.4W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0      -999.0
          1200     HU  28.0N   96.0W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0      -999.0
          1800     HU  28.1N   96.5W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0      -999.0
          2100  L  HU  28.2N   96.8W 80.0 -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0      -999.0
...                                                                                                                      ...
20211107  0000     TS  37.4N   37.4W 35.0  1003.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0          40.0
          0600     TS  38.1N   36.4W 35.0  1004.0  0.0    60.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0          45.0
          1200     LO  39.2N   34.9W 35.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0          50.0
          1800     LO  40.9N   32.8W 40.0  1006.0  0.0    90.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0          50.0
20211108  0000     LO  43.2N   29.7W 40.0  1006.0  30.0   70.0   0.0    0.0    0.0    0.0    0.0    0.0    0.0          40.0

[55436 rows x 4 columns]